<div class="panel-body">
    <form method="POST" action="/user/edit/{{user.id}}" class="form-horizontal">
        <table cellpadding="11">
            <tr>
                <td class="col-sm-2 control-label">Name</td>
                <td><input type="text" class="form-control" name="name" required value="{{user.name}}"></td>
            </tr>
            <tr>
                <td class="col-sm-2 control-label">User Name</td>
                <td><input type="text" class="form-control" name="username" required value="{{user.username}}"></td>
            </tr>
            <tr>
                <td class="col-sm-2 control-label">Password</td>
                <td><input type="password" class="form-control" name="password" required value="{{user.password}}"></td>
            </tr>
            <tr>
                <td class="col-sm-2 control-label">Email</td>
                <td><input type="text" class="form-control" name="email" required value={{user.email}}></td>
            </tr>
            <tr>
                <td class="col-sm-2 control-label">Location</td>
                <td><input type="text" class="form-control" name="location" required value="{{user.location}}"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    &nbsp; <input type="submit" name="submit" value="Save"> &nbsp;
                    <a href="/user" class="cancel">Cancel</a>
                    {{!-- <input type="submit" value="Cancel" class="cancel" method="get" action="/allUser"> --}}
                </td>
            </tr>
        </table>
    </form>
</div>